[Desktop Entry]
Encoding=UTF-8
Name=XPilots (server)
Name[pl]= XPilot (serwer)
Comment=XPilot game server
Comment[pl]=Serwer gry XPilot
Icon=xpilot.png
Exec=xpilots
Terminal=true
Type=Application
Categories=Application;Game;ArcadeGame;
# vi: encoding=utf-8
