[Desktop Entry]
Name=XPilot
Comment=XPilot multiplayer aerial combat game (requires server)
Comment[pl]=XPilot - gra sieciowa symulująca walki powietrzne (wymaga serwera)
Icon=xpilot.png
Exec=xpilot -join
Terminal=0
Type=Application
# vi: encoding=utf-8
