[Desktop Entry]
Encoding=UTF-8
Name=XPilot (map editor)
Name[pl]=XPilot (edytor map)
Comment=XPilot game map editor
Comment[pl]=Edytor map do gry XPilot
Icon=xpilot.png
Exec=xp-mapedit
Terminal=false
Type=Application
Categories=Application;Game;Arcade
# vi: encoding=utf-8
