[Desktop Entry]
Name=XPilot (map editor)
Name[pl]=XPilot (edytor map)
Comment=XPilot game map editor
Comment[pl]=Edytor map do gry XPilot
Icon=xpilot
Exec=xp-mapedit
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
