[Desktop Entry]
Encoding=UTF-8
Name=XPilot
Comment=XPilot multiplayer aerial combat game (requires server)
Comment[pl]=XPilot - gra sieciowa symuluj‚Ä…ca walki powietrzne (wymaga serwera)
Icon=xpilot.png
Exec=xpilot
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
# vi: encoding=utf-8
